@page
@model OrderSystemApp.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<p>
    <a asp-page="Create"><button class="btn btn-primary">New</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="width: 10%"></th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Rate)
            </th>
            <th>
                Tax Rate
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                <div class="edit-view-buttons">
                    <a asp-page="./Edit" asp-route-id="@item.ID"><button class="btn btn-primary">Edit</button></a>
                    <a asp-page="./Details" asp-route-id="@item.ID"><button class="btn btn-primary">View</button></a>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxRateString)
            </td>
        </tr>
}
    </tbody>
</table>
